//不支持内嵌样式，支持内嵌标签~~~无语
.test{
  background: green;

  test{
    color: red;font-size: 2em;display: block
  }

  h1{
    color: white;display: block;
  }

  .test1{color: red;}  //这行无效,放在global里面才有用。。无语
}

